*{padding: 0; margin: 0;}

/*Cores*/
:root {
--cor1: #516373;
--cor2: #2A3740;
--cor3: #A3B4BF;
--cor4: #D5E7F2;
--cor5: #F2DEA0;
--cor6: #ffffff50;}

/*Animação*/
:root {
    --name: transition;
    --delay: 0s;
    --time: 1s;}
@keyframes transition{
    from{transform: scale(0);}
    to{transform: scale(1);}}

/*Configurações para a pagina inteira*/
p, h1, a, legend, label, button{
    text-align: center;
    color: var(--cor1);
    font-size: 1.8em;
    line-height: 2em;
    text-decoration: none;
    font-family: 'Rancho', sans-serif;}
a {color: var(--cor4); text-decoration: underline;}
a:hover {color: var(--cor5);}
input, button, select{border-radius: 10px; margin: 0 auto;}
input, select{background-color: var(--cor4); font-size: 1em; color: var(--cor1); padding: .2px 10px;}
select{color: var(--cor1);}
input:focus{background-color: var(--cor5);}
button{padding: 4px; background-color: var(--cor4); margin: 20px;}
button:hover{background-color: var(--cor3); color: var(--cor2);}
fieldset {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border: 2px solid var(--cor2);}
legend, h1, strong{color: var(--cor2);}
form {text-align: center; width: 95%;}
fieldset, p, h1, a, button, .icons {animation-name: var(--name);
    animation-delay: 0s;
    animation-duration: 2s}
.icons{
    width: 50px;
    border: 2px solid var(--cor2);
    background-color: var(--cor4);
    border-radius: 30%;
    padding: 5px;
    margin: 0 40px;}
.icons:hover{background-color: var(--cor3);}
#facebook {
    width: 40px;
    padding: 10px;}

/*Wallpaper*/

body{
    background-image: url("../imagens/background.jpg");
    background-size: 100%;}

/*Página*/

#main {
    background-image: linear-gradient(to right, var(--cor6) ,rgba(213,231,242,0.5), var(--cor6)); 
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "header header" "article article" "footer footer";
    grid-template-rows: 8% auto 8%;}

/*Header*/

#main header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor2);} 
.logo {
    grid-column: 1;
    width: 100px;}
#main header a {animation: none;}
#main header div.search {
    grid-column: 2;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor5);
    padding: 10px;
    height: 30px;
    width: 80%;
    border-radius: 10px;}
.search a {display: contents;}

#menuHeader {
    grid-column: 3;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;}
#menuHeader .iconHeader {
    background-color: var(--cor5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    border-radius: 10px;}
#menuHeader a {
    display: contents;
    text-decoration: none;
    color: var(--cor2);}
#menuHeader .iconHeader:hover {background-color: var(--cor4)}
#menuHeader img {width: 40px;}


/*Article*/

#main article {
    grid-area: article;
    width: 92%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 20px;}
#main article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor3), var(--cor3), var(--cor4));
    line-height: 2em;
    min-width: 40%;
    border: 2px solid var(--cor2);
    animation-name: var(--name);
    animation-delay: var(--delay);
    animation-duration: var(--time);}

/*Footer*/

#main footer {
    grid-area: footer;
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 0 40px;
    background-color: var(--cor2);}
#main footer a {animation: none;}
.footer {width: 80px;}
.Social {
    width: 50px;
    border: 2px solid var(--cor1);
    border-radius: 20%;
    padding: 10px;
    margin: 0 10px;
    background-color: var(--cor3);}
.Social:hover {background-color: var(--cor4);}

/*Modo resposivo*/

@media (max-width:1150px){
    div.search input {width: 100px;}
    #menuHeader .iconHeader{width: 150px; margin: 0 10px;}
    #main article {
        display: flex;
        flex-direction: column;
        align-items: center;}
    #main article div {
        margin: 20px 0;
        min-width: 50%;
        padding: 10px;}
    #coluna2 form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        grid-gap: 10px}
    .coluna1-2{grid-column: 1 / 3;}
}
@media (max-width: 900px){
    #main {width: 95%; margin: 0 auto;}
}
@media (max-width: 750px){

    @keyframes transition{to {transform: none;}}
    #main {width:fit-content;}
    #main header {display: flex; flex-direction: column;}
    .logo{display: none;}
    #main header div.search {padding: 4px;}
    #main header div.search input {width: 40%; height: 25px;}
    #main article #coluna2 form {
        display:flex;
        flex-direction: column;}
    #main article div {
        width: 80%;}
    fieldset {padding: 10px 0;}
    form {padding: 0;}
    input, select{max-width: 50%; align-self: center;}
    footer div {display: flex; margin: auto auto;}
    .Social{display: block;}
    
}
@media (max-width: 400px){
    #main article {padding: 2px;}
    #main article div {background-image: none; background-color: rgba(155, 165, 172, 0.8); width: 100%;}
    .icons {margin: 0 2px;}
}

